<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.thinkbear.app.grabredpacket">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:name=".ui.App"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.Activity_Agreement"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.Activity_Main"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.orther.Activity_Use"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.orther.Activity_Agreement_Look"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.set.Activity_SetWeChat"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.set.Activity_SetQQ"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.set.Activity_SelectOption"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.set.Activity_SetTime"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.set.Activity_SetWeChatGroup"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.set.Activity_SetQQGroup"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service android:name=".service.GRPAccessibilityService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data android:name="android.accessibilityservice" android:resource="@xml/wechat_service_config" />
        </service>

    </application>

</manifest>